{% extends 'layouts.main' %}

{% block content %}
  <div class="container">
    {% if categories.isNotEmpty() %}
      <h3>Categories</h3>
      <ul class="list-inline">
        {% for category in categories %}
          {% set params = generator.generate(selectedCategories, category.id) %}
          {% set active = selectedCategories.contains(category.id) %}
          <li>
            <a class="{{ active ? 'active-filter' }}" href="{{ route('home', {categories: params}) }}">
              {{ category.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if feeds.isNotEmpty() %}
      <h3>Feeds</h3>
      <ul class="list-unstyled">
        {% for feed in feeds %}
          <li class="feed-list-item">
            <a class="provider-logo-wrapper" href="{{ feed.provider.url }}" target="_blank">
              <img class="provider-logo" src="{{ feed.provider.logo }}">
            </a>
            <a href="#" data-href="{{ feed.url }}" data-toggle="modal" data-target="#feed-modal"
               data-title="{{ feed.title }}" data-description="{{ feed.description }}" class="feed-title">
              {{ feed.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="empty-list">There are no feeds!</div>
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  {{ parent() }}
  {% include 'feed.modal' %}
{% endblock %}
