.active-filter {
  font-weight: bold;
  text-decoration: underline;
}

.feed-list-item {
  padding: 12px 0 12px 70px;
  position: relative;

  .provider-logo-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    .provider-logo {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      max-width: 60px;
      max-height: 40px;
    }
  }
}
