.site-frame {
  margin-top: 51px;
  padding: 20px 0;
}

.navbar-nav {
  @media (min-width: 768px) {
    float: right;
  }
}

.delete-modal-header {
  font-size: 24px;
  font-weight: 900;
  color: #28a9e0;
  padding-left: 30px;
}

.form-basic {
  max-width: 500px;

  .form-basic-heading {
    margin-bottom: 10px;
  }

  .form-control {
    margin-bottom: 10px;
  }

  .form-label {
    margin: 0 10px 10px 0;
    font-weight: normal;
  }
}

.header-buttons {
  float: right;
  margin-bottom: 10px;
}
