<!DOCTYPE html>
<html class="js-no">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta charset="utf-8">
  <title>{{ block('page_title')|default('Oops!')|raw }}</title>
  <meta name="description" content="{{ block('page_description')|default('Sorry, something went wrong. Please try again later.') }}">

  {% block headStyles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/app.css') }}">
  {% endblock %}

  {% block viewport %}
    <meta name="viewport" id="screen-viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}
</head>
<body class="body--nav-collapsed {{ block('body_class') }}">
{% block main_scripts %}
  <script src="{{ asset('/js/app.js') }}"></script>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>Oops!</h1>
          <h2>{% block error_title 'Error' %}</h2>
          <div class="error-details">
            {% block error_message 'Sorry, something went wrong. Please try again later.' %}
          </div>
          <div class="error-actions">
            <a href="{{ route('home') }}" class="btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-home"></span>
              Home
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block scripts %}{% endblock %}
{% endblock %}

</body>
</html>
