{% extends 'layouts.main' %}

{% block content %}
  <div class="container">
    <a href="{{ route('provider:list') }}"><-- Back to list</a>
    {{ form_model(provider, {class: 'form-basic'}) }}
      <h2 class="form-basic-heading">{{ provider.exists ? 'Update' : 'Create' }} provider</h2>
      {% include 'fragments.success' with {message: session_pull('success')} %}
      {% include 'fragments.error' with {message: errors.first()} %}
      {{ form_text('name', provider.name, {placeholder: 'Name', required: true, autofocus: true, class: 'form-control'}) }}
      {{ form_text('logo', provider.logo, {placeholder: 'Logo (url)', required: true, class: 'form-control'}) }}
      {{ form_url('url', provider.url, {placeholder: 'Page url', required: true, class: 'form-control'}) }}
      {{ form_url('rss', provider.rss, {placeholder: 'Rss feed url', required: true, class: 'form-control'}) }}
      {{ form_hidden('enabled', 0) }}
      {{ form_checkbox('enabled', 1, provider.enabled) }}
      {{ form_label('enabled', 'Enable provider', {class: 'form-label'}) }}
      {% if categories.isNotEmpty() %}
        <h3 class="form-basic-title">Categories</h3>
        {% for category in categories %}
          <div>
            {% set name = 'category[' ~ category.id ~ ']' %}
            {{ form_checkbox(name, category.id, existingCategories.contains(category.id)) }}
            {{ form_label(name, category.name, {class: 'form-label'}) }}
          </div>
        {% endfor %}
      {% endif %}
      {{ form_submit('Submit', {class: 'btn btn-lg btn-primary btn-block'}) }}
    {{ form_close() }}
  </div>
{% endblock %}
