{% extends 'layouts.main' %}

{% block content %}
  <div class="container">
    <div class="header-buttons">
      <a href="{{ route('provider:create') }}" class="btn btn-primary">Create</a>
    </div>
    <div class="clearfix"></div>
    {% include 'fragments.success' with {message: session_pull('success')} %}
    {% if providers.isNotEmpty() %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Enabled</th>
            <th>Categories</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for provider in providers %}
            <tr>
              <td>{{ provider.name }}</td>
              <td>{{ provider.enabled ? 'Yes' : 'No' }}</td>
              <td>{{ provider.categories.implode('name', ', ') }}</td>
              <td>{{ provider.created_at|date('Y-m-d') }}</td>
              <td class="actions">
                <a href="{{ route('provider:update', provider.id) }}" class="edit">Edit</a>
                <a href="#" data-href="{{ route('provider:delete', provider.id) }}"
                   data-toggle="modal"
                   class="delete" data-target="#confirm-modal">
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="empty-list">There are no providers created!</div>
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  {{ parent() }}
  {% include 'layouts.fragments.confirm-modal' %}
{% endblock %}
