{% extends 'layouts.main' %}

{% block content %}
  <div class="container">
    <a href="{{ route('category:list') }}"><-- Back to list</a>
    {{ form_model(category, {class: 'form-basic'}) }}
      <h2 class="form-basic-heading">Create category</h2>
      {% include 'fragments.success' with {message: session_pull('success')} %}
      {% include 'fragments.error' with {message: errors.first()} %}
      {{ form_text('name', category.name, {placeholder: 'Name', required: true, autofocus: true, class: 'form-control'}) }}
      {{ form_submit('Submit', {class: 'btn btn-lg btn-primary btn-block'}) }}
    {{ form_close() }}
  </div>
{% endblock %}
