{% extends 'layouts.main' %}

{% block content %}
  <div class="container">
    <div class="header-buttons">
      <a href="{{ route('category:create') }}" class="btn btn-primary">Create</a>
    </div>
    <div class="clearfix"></div>
    {% include 'fragments.success' with {message: session_pull('success')} %}
    {% if categories.isNotEmpty() %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Provider count</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
            <tr>
              <td>{{ category.name }}</td>
              <td>{{ category.created_at|date('Y-m-d') }}</td>
              <td>{{ category.providers().count() }}</td>
              <td class="actions">
                <a href="{{ route('category:update', category.id) }}" class="edit">Edit</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="empty-list">There are no categories created!</div>
    {% endif %}
  </div>
{% endblock %}
