{% extends 'layouts.main' %}

{% block content %}
  <div class="container">
    {{ form_open({method: 'post', route: 'account', class: 'form-basic'}) }}
      <h2 class="form-basic-heading">My Account</h2>
      {% include 'fragments.error' with {message: errors.first()} %}
      {% include 'fragments.success' with {message: session_pull('success')} %}
      <h3 class="form-basic-title">Basic information</h3>
      {{ form_text('name', user.name, {placeholder: 'Name', required: true, autofocus: true, class: 'form-control'}) }}
      {{ form_email('email', user.email, {placeholder: 'Email', required: true, class: 'form-control'}) }}
      <h3 class="form-basic-title">Change password</h3>
      {{ form_password('password', {placeholder: 'Password', class: 'form-control'}) }}
      {{ form_password('password_confirmation', {placeholder: 'Confirm Password', class: 'form-control'}) }}
      {{ form_submit('Submit', {class: 'btn btn-lg btn-primary btn-block'}) }}
    {{ form_close() }}
  </div>
{% endblock %}
