{% extends 'layouts.main' %}

{% block content %}
  <div class="container">
    {{ form_open({method: 'post', route: 'login', class: 'form-signin'}) }}
      <h2 class="form-signin-heading">Login</h2>
      {% include 'fragments.error' with {message: error} %}
      {{ form_email('email', null, {placeholder: 'Email', required: true, autofocus: true, class: 'form-control'}) }}
      {{ form_password('password', {placeholder: 'Password', required: true, class: 'form-control'}) }}
      {{ form_submit('Sign in', {class: 'btn btn-lg btn-primary btn-block'}) }}
    {{ form_close() }}
  </div>
{% endblock %}
