<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header delete-modal-header">
        Delete
      </div>
      <div class="modal-body">
        Are you sure you want to remove this item?
      </div>
      <div class="modal-footer">
        <a class="btn btn-success btn-ok">Confirm</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
