<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {% if auth_user() %}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      {% endif %}
      <a class="navbar-brand" href="{{ route('home') }}">News</a>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if auth_user() %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Management <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ route('provider:list') }}">Providers</a></li>
                <li><a href="{{ route('category:list') }}">Categories</a></li>
              </ul>
            </li>
            <li><a href="{{ route('account') }}">My Account</a></li>
            <li><a href="{{ route('logout') }}">Logout</a></li>
          {% else %}
            <li><a href="{{ route('login') }}">Login</a></li>
          {% endif %}
        </ul>
      </div>
  </div>
</div>
