<!DOCTYPE html>
<html class="js-no">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta charset="utf-8">
  <title>{{ block('page_title')|default('News')|raw }}</title>
  <meta name="description" content="{{ block('page_description')|default('News') }}">

  {% block headStyles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/app.css') }}">
  {% endblock %}

  {% block viewport %}
    <meta name="viewport" id="screen-viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  {% block headMeta %}{% endblock %}

  {% block head_scripts %}{% endblock %}
</head>
<body class="body--nav-collapsed {{ block('body_class') }}">

{% block page_navigation %}
  {% include 'layouts.fragments.navigation' %}
{% endblock %}

<div class="site-frame" id="siteFrame">
  {% block content %}{% endblock %}
</div>

{% block footer %}
  {#{% include 'layouts.fragments.footer' %}#}
{% endblock %}

{% block main_scripts %}
  <script src="{{ asset('/js/app.js') }}"></script>

  {% block scripts %}{% endblock %}
{% endblock %}

</body>
</html>
