<div class="modal fade" id="feed-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header delete-modal-header"></div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a class="btn btn-success btn-ok" target="_blank">
          Confirm
        </a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
